<div class="step-item">
  <div class="header">
    <div class="date">{{ step.date | date: 'dd/MM/yyyy' }}</div>
    <div class="step-icons">
        <div class="step-icon step-icon-author"
            matBadge="{{ index }}" matBadgeColor="accent"
            [style.background-color]="getChipBackgroundColor(step.authorName)"
            matTooltip="{{ step.authorName }}">
          {{ step.authorName | slice:0:1 }}
        </div>
    </div>
  </div>
  <div class="message">
    {{ step.message | slice:0:85 }}{{ step.message.length > 85 ? '…' : '' }}
  </div>
<div>
