<form [formGroup]="postForm" (ngSubmit)="onSubmit()" class="mat-elevation-z2">
  <h1 class="mat-display-1">Raconte-nous !</h1>

  <mat-form-field>
    <mat-label>C'était bien ?</mat-label>
    <textarea matInput
              cdkTextareaAutosize
              cdkAutosizeMinRows="3"
              cdkAutosizeMaxRows="10" formControlName="content"></textarea>
  </mat-form-field>

  <mat-form-field>
    <mat-label>C'était quand ?</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="date" (change)="dateChangedFromInput()" required>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <div id="photos-panel">

    <button mat-raised-button
            type="button"
            (click)="photosInput.click()"
            class="sub-form-element">
      <mat-icon>photo_camera</mat-icon>
        Ajoute des photos !
    </button>

    <input
      style="display: none" multiple
      type="file" (change)="onFileChanged($event)"
      #photosInput>

    <div id="photos-preview-panel" class="sub-form-element"
         *ngIf="postForm.controls['photos'].value && postForm.controls['photos'].value.length > 0">
      <div>
        <div *ngFor="let photo of postForm.controls['photos'].value" class="photo-container">
          <div class="photo-controls" *ngIf="photo.photoDate != null || photo.photoCoord != null">
            <button mat-icon-button
                    *ngIf="photo.photoDate != null"
                    (click)="useDateFromPhoto(photo)"
                    type="button"
                    class="mat-elevation-z1"
                    aria-label="Utiliser la date de cette photo">
              <mat-icon>event</mat-icon>
            </button>
            <button mat-icon-button
                    type="button"
                    *ngIf="photo.photoCoord != null"
                    (click)="locateFromPhoto(photo)"
                    class="mat-elevation-z1"
                    aria-label="Utiliser la localisation de cette photo">
              <mat-icon>gps_not_fixed</mat-icon>
            </button>
          </div>
          <img class="photo-thumbnail" [src]="photo.fileAsDataUrl" />
        </div>
      </div>
    </div>
  </div>

  <div>
    <p class="mat-body">
      La localisation est lue depuis tes photos si ton GPS était activé à ce moment là.<br>
      Sinon tu peux te localiser ou cliquer sur la carte.
    </p>
    <div id="locate-me" class="sub-form-element">
      <button mat-raised-button
              type="button"
              (click)="locateUser()">
        <mat-icon>gps_not_fixed</mat-icon>
        Localise toi via ton navigateur
      </button>
    </div>
    <agm-map #AgmMap class="sub-form-element"
             (mapClick)="mapClicked($event)"
             [latitude]="mapParams.center.lat"
             [longitude]="mapParams.center.lng"
             [zoom]="mapParams.zoom"
    >
      <agm-marker *ngIf="postForm.controls['position'].value !== null"
                  [latitude]="postForm.controls['position'].value.lat"
                  [longitude]="postForm.controls['position'].value.lng"></agm-marker>
    </agm-map>
  </div>

  <button type="submit" mat-raised-button color="primary" [disabled]="!postForm.valid">
    <mat-icon>send</mat-icon>
      Poster !
  </button>
</form>
