form {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  width: 100%;
  margin: 20px auto;
  box-sizing: border-box;
  padding: 20px;
  background-color: white;
}

form > * {
  width: 100%;
  margin: 10px auto;
}

.sub-form-element {
  margin: 10px auto;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

agm-map {
  height: 300px;
}

#photos-preview-panel {
  height: 150px;
  overflow-y: hidden;

  & > div {
    width: max-content;

    .photo-container {
      height: 150px;
      display: inline-flex;
      margin: auto 5px;
      position: relative;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }

      .photo-thumbnail {
        height: 100%;
        background-size: contain;
      }

      .photo-controls {
        position: absolute;
        top: 1px;
        left: 1px;

        & > button {
          background-color: rgba(255, 255, 255, 0.85);
          border-radius: 2px;
          width: 30px;
          height: 30px;
          line-height: 30px;
          margin: 1px;
        }
      }
    }
  }
}

