<form [formGroup]="postForm" (ngSubmit)="onSubmit()">
  <h1>Raconte-nous !</h1>

  <mat-form-field>
    <mat-label>C'était bien ?</mat-label>
    <textarea matInput
              cdkTextareaAutosize
              cdkAutosizeMinRows="3"
              cdkAutosizeMaxRows="10" formControlName="content"></textarea>
  </mat-form-field>

  <mat-form-field>
    <mat-label>C'était quand ?</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="date" required>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <div id="photos-panel">

    <button mat-raised-button (click)="photosInput.click();$event.preventDefault()" class="sub-form-element">
      <mat-icon>photo_camera</mat-icon>
        Ajoute des photos !
    </button>

    <input
      style="display: none" multiple
      type="file" (change)="onFileChanged($event)"
      #photosInput>

    <div id="photos-preview-panel" class="sub-form-element"
         *ngIf="postForm.controls['photos'].value && postForm.controls['photos'].value.length > 0">
      <div>
        <div *ngFor="let photo of postForm.controls['photos'].value" class="photo-container">
          <img class="photo-thumbnail" [src]="photo.fileAsDataUrl" />
        </div>
      </div>
    </div>
  </div>

  <div>
    <div id="locate-me" class="sub-form-element">
      <button mat-raised-button (click)="locateUser();$event.preventDefault()">
        <mat-icon>gps_not_fixed</mat-icon>
        Localise toi !
      </button>
    </div>
  <agm-map #AgmMap class="sub-form-element"
           (mapClick)="mapClicked($event)"
           [latitude]="mapParams.center.lat"
           [longitude]="mapParams.center.lng"
           [zoom]="mapParams.zoom"
  >
    <agm-marker *ngIf="postForm.controls['position'].value !== null"
                [latitude]="postForm.controls['position'].value.lat"
                [longitude]="postForm.controls['position'].value.lng"></agm-marker>
  </agm-map>
  </div>

  <button type="submit" mat-raised-button color="primary" [disabled]="!postForm.valid">
    <mat-icon>send</mat-icon>
      Poster !
  </button>
</form>
