<form [formGroup]="postForm">
  <h1>Racontez-nous !</h1>

  <mat-form-field>
    <mat-label>C'était bien ?</mat-label>
    <textarea matInput cdkTextareaAutosize formControlName="content"></textarea>
  </mat-form-field>

  <mat-form-field>
    <mat-label>C'était quand ?</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <div>
    <label for="singleFile">Upload file</label>
    <input id="singleFile" type="file" [fileUploadInputFor]= "fileUploadQueue"/>
    <br>

    <mat-file-upload-queue #fileUploadQueue
        [fileAlias]="'file'"
        [httpUrl]="'http://localhost:8180/jax-rs-jersey-application-sample'">

        <mat-file-upload [file]="file" [id]="i" *ngFor="let file of fileUploadQueue.files; let i = index"></mat-file-upload>
    </mat-file-upload-queue>

    <div [fileUploadInputFor]="fileUploadQueue" class="upload-drop-zone">
        Just drag and drop files here
    </div>
  </div>

  <div style="width: 500px">
    <mat-file-upload-queue #fileUploadQueue
                           [fileAlias]="'file'"
            [httpUrl]="'http://localhost:8180/jax-rs-jersey-application-sample'" multiple>

            <mat-file-upload [file]="file" [id]="i" *ngFor="let file of fileUploadQueue.files; let i = index"></mat-file-upload>
        </mat-file-upload-queue>
    </div>

  <div>
    <div id="locate-me">
      <button mat-button (click)="locateUser()">
        <mat-icon>gps_not_fixed</mat-icon>
        Localise moi !
      </button>
    </div>

  
  <agm-map #AgmMap
           (mapClick)="mapClicked($event)"
           [latitude]="center.lat"
           [longitude]="center.lng"
           [zoom]="zoom"
  >
    <agm-marker *ngIf="marker !== null" [latitude]="marker.lat" [longitude]="marker.lng"></agm-marker>
  </agm-map>
  </div>
</form>
