header {
    margin-top: -8px;
    margin-right: -8px;
    margin-left: -8px;
}

step-list, map {
    top: 56px;
    bottom: 0;
}

step-list {
    background-color: darksalmon;

    position: absolute;
    left: 0;
}

map {
    background-color: lightblue;

    position: absolute;
    right: 0;
    width: 100%;
}

@media screen and (min-width: 599px) and (max-width: 1023px) {
    step-list, map {
        top: 64px;
    }

    step-list {
        width: 260px;
    }

    map {
        width: calc(100% - 260px);
    }
}

@media screen and (min-width: 1024px) {
    step-list, map {
        top: 64px;
    }

    step-list {
        width: 340px;
    }

    map {
        width: calc(100% - 340px);
    }
}
