.mat-list-item {
    height: auto!important;

    step {
        width: 100%;
    }
}

.mat-list-item:hover,
.mat-list-item.selected {
    background-color: white;
    cursor: pointer;
}

.mat-list-item.current {
    background-color: rgba(103, 58, 183, 0.3);
}
