<nav class="navbar__wrapper">
    <mat-toolbar color="primary" class="toolbar">
        <a class="navbar__brand" href="/">
            <img src="/assets/temp-logo.svg">
        </a>
        <p class="app-name">The Big Trekker - Admin</p>

        <span class="spacer"></span>

        <a class="logout-button">
            <button class="app-button" mat-icon-button mat-button
                    matTooltip="Déconnexion" matTooltipPosition="below">
                <mat-icon>power_settings_new</mat-icon>
            </button>
        </a>
    </mat-toolbar>
</nav>
